// ============================================================================
// SETTINGS: #Colors
// ============================================================================

// Monotone
// --------------------------------------------------
$white:             rgb(255, 255, 255);   // #fff
$light-grey:        rgb(250, 250, 250); 
$medium-grey:       rgb(240, 240, 240);
$black:             rgb(50, 50, 50);      // #323232
$true-black:        rgb(0, 0, 0);         // #000

// Red
// --------------------------------------------------
$red-alizarin:      rgb(231, 76, 60);     // #e74c3c

// Blue
// --------------------------------------------------
$blue-wet-asphalt:  rgb(52, 73, 94);      //#34495e 
$blue-peter-river:  rgb(52, 152, 219);