// ============================================================================
// SETTINGS: #Response
// ============================================================================

$width-small:     320px;
$width-medium:    720px;
$width-large:     900px; 