html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

*,
*:after,
*:before {
  box-sizing: border-box; }

body {
  color: #323232;
  width: 100%;
  margin: 0; }

nav {
  padding: 20px 40px; }
  nav ul {
    float: right;
    list-style: none;
    margin: .5em 0 auto 0; }
  nav li {
    display: inline-block;
    padding: 10px 20px 10px 20px; }
  nav a {
    display: inline-block; }
    nav a img {
      float: left; }
      @media screen and (min-width: 320px) {
        nav a img {
          height: 48px; } }
      @media screen and (min-width: 720px) {
        nav a img {
          height: 56px; } }
    nav a em {
      float: right;
      font-style: normal;
      font-weight: lighter;
      margin: .5em 0 auto 10px; }
      @media screen and (min-width: 320px) {
        nav a em {
          font-size: 1.85em; } }
      @media screen and (min-width: 720px) {
        nav a em {
          font-size: 2em; } }

section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; }
  section::after {
    clear: both;
    content: "";
    display: block; }

h2 {
  font-weight: lighter; }

p {
  font-weight: lighter; }

li {
  font-weight: lighter; }

footer {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  background: #34495e;
  color: white; }
  footer ul {
    list-style: none; }
    footer ul li {
      display: inline-block;
      padding: 20px; }
  footer a:link,
  footer a:visited,
  footer a:hover,
  footer a:active {
    color: white; }

a:link,
a:visited,
a:hover,
a:active {
  color: #e74c3c;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.25s ease; }

html {
  font-family: 'Helvetica-Neue', 'Helvetica', sans-serif; }

body {
  line-height: 1.5em; }

header {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: white;
  color: #e74c3c; }
  header::after {
    clear: both;
    content: "";
    display: block; }

.assignment-list-bg {
  background-image: url(../img/assignment-list.png);
  background-repeat: no-repeat; }
  @media screen and (min-width: 320px) {
    .assignment-list-bg {
      background-size: 240px;
      background-position-x: 50%;
      background-position-y: 225%; } }
  @media screen and (min-width: 720px) {
    .assignment-list-bg {
      background-size: 180x;
      background-position-x: 85%;
      background-position-y: 50%; } }
  @media screen and (min-width: 900px) {
    .assignment-list-bg {
      background-size: 320px;
      background-position-y: -10%; } }

.planner-bg {
  background-image: url(../img/iphone-bg-gold.png);
  background-repeat: no-repeat; }
  @media screen and (min-width: 320px) {
    .planner-bg {
      background-size: 280px;
      background-position-x: 50%;
      background-position-y: 175%; } }
  @media screen and (min-width: 375px) {
    .planner-bg {
      background-position-y: 150%; } }
  @media screen and (min-width: 720px) {
    .planner-bg {
      background-size: 320px;
      background-position-x: 10%;
      background-position-y: 50%; } }
  @media screen and (min-width: 900px) {
    .planner-bg {
      background-size: 400px;
      background-position-x: 20%; } }

.instructor-bg {
  background-image: url(../img/instructor-list.png);
  background-repeat: no-repeat; }
  @media screen and (min-width: 320px) {
    .instructor-bg {
      background-size: 240px;
      background-position-x: 50%;
      background-position-y: 175%; } }
  @media screen and (min-width: 375px) {
    .instructor-bg {
      background-position-y: 160%; } }
  @media screen and (min-width: 720px) {
    .instructor-bg {
      background-size: 280px;
      background-position-x: 10%;
      background-position-y: 50%; } }
  @media screen and (min-width: 900px) {
    .instructor-bg {
      background-size: 320px;
      background-position-x: 20%;
      background-position-y: 50%; } }

.grade-insights {
  background-image: url(../img/grade-insights-bg.png);
  background-repeat: no-repeat; }
  @media screen and (min-width: 320px) {
    .grade-insights {
      background-size: 240px;
      background-position-x: 50%;
      background-position-y: 175%; } }
  @media screen and (min-width: 375px) {
    .grade-insights {
      background-position-y: 160%; } }
  @media screen and (min-width: 720px) {
    .grade-insights {
      background-size: 280px;
      background-position-x: 10%;
      background-position-y: 50%; } }
  @media screen and (min-width: 900px) {
    .grade-insights {
      background-size: 320px;
      background-position-x: 20%;
      background-position-y: 50%; } }

.watch-bg {
  background-image: url(../img/watch-bg.png);
  background-repeat: no-repeat; }
  @media screen and (min-width: 320px) {
    .watch-bg {
      background-size: 200px;
      background-position-x: 50%;
      background-position-y: 70%; } }
  @media screen and (min-width: 720px) {
    .watch-bg {
      background-size: 240px;
      background-position-x: 80%;
      background-position-y: 50%; } }
  @media screen and (min-width: 900px) {
    .watch-bg {
      background-size: 280px;
      background-position-x: 80%;
      background-position-y: 50%; } }

.settings-bg {
  background-image: url(../img/settings-bg.png);
  background-repeat: no-repeat; }
  @media screen and (min-width: 320px) {
    .settings-bg {
      background-size: 240px;
      background-position-x: 50%;
      background-position-y: 175%; } }
  @media screen and (min-width: 375px) {
    .settings-bg {
      background-position-y: 160%; } }
  @media screen and (min-width: 720px) {
    .settings-bg {
      background-size: 280px;
      background-position-x: 10%;
      background-position-y: 50%; } }
  @media screen and (min-width: 900px) {
    .settings-bg {
      background-size: 320px;
      background-position-x: 20%;
      background-position-y: 50%; } }

.assignment-list-macOS {
  background-image: url(../img/assignment-list-macOS.png);
  background-repeat: no-repeat; }
  @media screen and (min-width: 320px) {
    .assignment-list-macOS {
      background-size: 75%;
      background-position-x: 50%;
      background-position-y: 90%; } }
  @media screen and (min-width: 720px) {
    .assignment-list-macOS {
      background-size: 50%;
      background-position-x: 100%;
      background-position-y: 50%; } }

@media screen and (min-width: 320px) {
  .mac-block {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%;
    padding-top: 50pt; }
    .mac-block:last-child {
      margin-right: 0; }
    .mac-block img {
      width: 100%; } }
@media screen and (min-width: 720px) {
  .mac-block {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    margin-left: 0%; }
    .mac-block:last-child {
      margin-right: 0; }
    .mac-block img {
      width: auto; } }

@media screen and (min-width: 320px) {
  .col-right {
    margin-left: 8.5298%; } }
@media screen and (min-width: 720px) {
  .col-right {
    margin-left: 51.17883%; } }

.col-left {
  margin-left: 8.5298%; }

.copy-block {
  min-height: 760px;
  padding: 4em 0em; }
  @media screen and (min-width: 720px) {
    .copy-block {
      display: flex;
      align-items: center; } }
  @media screen and (min-width: 320px) {
    .copy-block__content {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%; }
      .copy-block__content:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 720px) {
    .copy-block__content {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%; }
      .copy-block__content:last-child {
        margin-right: 0; } }
  .copy-block__copy {
    font-weight: lighter; }
    @media screen and (min-width: 320px) {
      .copy-block__copy {
        font-size: 1em; } }
    @media screen and (min-width: 900px) {
      .copy-block__copy {
        font-size: 1.1em; } }
  .copy-block__title {
    font-weight: lighter;
    line-height: 1.05em;
    margin: 0.4em 0; }
    @media screen and (min-width: 320px) {
      .copy-block__title {
        font-size: 1.8em; } }
    @media screen and (min-width: 900px) {
      .copy-block__title {
        font-size: 2em; } }

.hero {
  background-color: #e74c3c;
  padding: 4em 0; }
  @media screen and (min-width: 320px) {
    .hero {
      min-height: 700px; } }
  @media screen and (min-width: 720px) {
    .hero {
      min-height: 460px; } }
  .hero__app_store > img {
    width: 180px; }
  .hero__content_inset {
    margin-left: 8.5298%; }
    @media screen and (min-width: 320px) {
      .hero__content_inset {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%; }
        .hero__content_inset:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 720px) {
      .hero__content_inset {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 40.29137%; }
        .hero__content_inset:last-child {
          margin-right: 0; } }
  .hero__copy {
    color: white;
    font-weight: lighter;
    margin-bottom: 40px; }
    @media screen and (min-width: 320px) {
      .hero__copy {
        font-size: 1.0em; } }
    @media screen and (min-width: 900px) {
      .hero__copy {
        font-size: 1.25em; } }
  .hero__title {
    color: white;
    font-size: 2.5em;
    font-weight: lighter;
    line-height: 1.05em; }
    @media screen and (min-width: 320px) {
      .hero__title {
        font-size: 2em; } }

@media screen and (min-width: 320px) {
  .profile-block {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%; }
    .profile-block:last-child {
      margin-right: 0; } }
@media screen and (min-width: 720px) {
  .profile-block {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    .profile-block:last-child {
      margin-right: 0; } }
@media screen and (max-width: 720px) {
  .profile-block__img {
    width: 100%; } }

@media screen and (min-width: 320px) {
  .reverse-phone {
    margin-left: 8.5298%; } }
@media screen and (min-width: 720px) {
  .reverse-phone {
    margin-left: 0%; } }

.row__highlight {
  overflow-x: hidden;
  background-color: #e74c3c; }
.row__light {
  overflow-x: hidden;
  background-color: white; }
.row__dark {
  overflow-x: hidden;
  background-color: #fafafa;
  border-bottom: 1px solid #f0f0f0; }

.store-block {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center;
  -ms-flex-line-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 180px;
  padding-bottom: 30px; }
  .store-block__logo {
    width: 100px;
    margin-top: 40px;
    border-radius: 20px; }
  .store-block__content {
    margin: 30px 30px 30px 30px; }
  .store-block__title {
    font-size: 2em;
    font-weight: lighter;
    line-height: 1.05em;
    text-align: center; }
  .store-block__copy {
    font-size: 1em;
    font-weight: lighter;
    text-align: center; }
  .store-block__app_store {
    display: flex;
    align-items: center; }
    .store-block__app_store img {
      width: 180px; }

.hero-terms {
  background: #e74c3c;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px; }
  .hero-terms__title {
    font-size: 2em;
    font-weight: lighter; }

.terms-block__title {
  font-weight: lighter; }

.device-block {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center;
  -ms-flex-line-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px; }
  .device-block__content {
    text-align: center; }
  .device-block__title {
    font-size: 2em; }
  @media screen and (min-width: 320px) {
    .device-block__copy {
      font-size: 1em; } }
  @media screen and (min-width: 900px) {
    .device-block__copy {
      font-size: 1.1em; } }
  .device-block__img {
    margin-top: 20px;
    width: 70%; }
