.device-background {
  background-image: url(../img/iphone-bg-gold.png);
  background-repeat: no-repeat;
  background-size: 480px;
  background-position-x: 85%;
  background-position-y: 5%;
}

.copy-block {
  min-height: 960px;
  padding: 4em 0;

  &__copy {
    max-width: 50%;
  }
}

.iphone-bg-gold img, .iphone-bg-dark img {
  //display: block;
  width: 50%;
  height: 50%;
  //position: absolute;
  //top: 10%;
  //left: 10%;
  background: black;
}

.left-aside {
  @include span-columns(4);
  @include shift(2);
}
