.assignment-list-bg {
  background-image: url(../img/assignment-list.png);
  background-repeat: no-repeat;

  @include media(min-width $width-small) {
    background-size: 240px;
    background-position-x: 50%;
    background-position-y: 225%;
  }

  @include media(min-width $width-medium) {
    background-size: 180x;
    background-position-x: 85%;
    background-position-y: 50%;
  }

  @include media(min-width $width-large) {
    background-size: 320px;
    background-position-y: -10%;  
  }
}

.planner-bg {
  background-image: url(../img/iphone-bg-gold.png);
  background-repeat: no-repeat;
  
  @include media(min-width $width-small) {
    background-size: 280px;
    background-position-x: 50%;
    background-position-y: 175%;
  }

  @include media(min-width 375px) {
    background-position-y: 150%; 
  }

  @include media(min-width $width-medium) {
    background-size: 320px;
    background-position-x: 10%;
    background-position-y: 50%;
  }

  @include media(min-width $width-large) {
    background-size: 400px;
    background-position-x: 20%;
  }
}

.instructor-bg {
  background-image: url(../img/instructor-list.png);
  background-repeat: no-repeat;
  
  @include media(min-width $width-small) {
    background-size: 240px;
    background-position-x: 50%;
    background-position-y: 175%;
  }

  @include media(min-width 375px) {
    background-position-y: 160%;
  }

  @include media(min-width $width-medium) {
    background-size: 280px;
    background-position-x: 10%;
    background-position-y: 50%;
  }

  @include media(min-width $width-large) {
    background-size: 320px;
    background-position-x: 20%;
    background-position-y: 50%;
  }
}

.grade-insights {
  background-image: url(../img/grade-insights-bg.png);
  background-repeat: no-repeat;

  @include media(min-width $width-small) {
    background-size: 240px;
    background-position-x: 50%;
    background-position-y: 175%;
  }

  @include media(min-width 375px) {
    background-position-y: 160%;
  }

  @include media(min-width $width-medium) {
    background-size: 280px;
    background-position-x: 10%;
    background-position-y: 50%;
  }

  @include media(min-width $width-large) {
    background-size: 320px;
    background-position-x: 20%;
    background-position-y: 50%;
  }
}

.watch-bg {
  background-image: url(../img/watch-bg.png);
  background-repeat: no-repeat;

  @include media(min-width $width-small) {
    background-size: 200px;
    background-position-x: 50%;
    background-position-y: 70%;
  }

  @include media(min-width $width-medium) {
    background-size: 240px;
    background-position-x: 80%;
    background-position-y: 50%;
  }

  @include media(min-width $width-large) {
    background-size: 280px;
    background-position-x: 80%;
    background-position-y: 50%;
  }
}

.settings-bg {
  background-image: url(../img/settings-bg.png);
  background-repeat: no-repeat;

  @include media(min-width $width-small) {
    background-size: 240px;
    background-position-x: 50%;
    background-position-y: 175%;  
  }

  @include media(min-width 375px) {
    background-position-y: 160%;  
  }

  @include media(min-width $width-medium) {
    background-size: 280px;
    background-position-x: 10%;
    background-position-y: 50%;  
  }

  @include media(min-width $width-large) {
    background-size: 320px;
    background-position-x: 20%;
    background-position-y: 50%;  
  }
}

.assignment-list-macOS {
  background-image: url(../img/assignment-list-macOS.png);
  background-repeat: no-repeat;
  
  @include media(min-width $width-small) {
    background-size: 75%;
    background-position-x: 50%;
    background-position-y: 90%;
  }

  @include media(min-width $width-medium) {
    background-size: 50%;
    background-position-x: 100%;
    background-position-y: 50%;
  }
}

.mac-block {
  @include media(min-width $width-small) {
    @include span-columns(10);
    @include shift(1);
    padding-top: 50pt;

    img {      
      width: 100%;
    }
  }

  @include media(min-width $width-medium) {
    @include span-columns(5);
    @include shift(0);
    
    img {
      width: auto;
    }  
  }
}

.col-right {
  @include media(min-width $width-small) {
    @include shift(1);
  }

  @include media(min-width $width-medium) {
    @include shift(6);  
  }
}

.col-left {
  @include shift(1);
}

.copy-block {
  min-height: 760px;
  padding: 4em 0em;

  @include media(min-width $width-medium) {
    display: flex;
    align-items: center;
  }

  &__content {
    @include media(min-width $width-small) {
      @include span-columns(10);
    }

    @include media(min-width $width-medium) {
      @include span-columns(5);
    }
  }

  &__copy {
    font-weight: lighter;

    @include media(min-width $width-small) {
      font-size: 1em;
    }

    @include media(min-width $width-large) {
      font-size: 1.1em;
    }
  }

  &__title {
    font-weight: lighter;
    line-height: 1.05em;
    margin: 0.4em 0;

    @include media(min-width $width-small) {
      font-size: 1.8em;
    }

    @include media(min-width $width-large) {
      font-size: 2em;
    }
  }
}

.hero {
  background-color: $red-alizarin;
  padding: 4em 0;

  @include media(min-width $width-small) {
    min-height: 700px;
  }

  @include media(min-width $width-medium) {
    min-height: 460px;
  }

  &__app_store > img {
    width: 180px;
  }

  &__content_inset {
    @include shift(1); 

    @include media(min-width $width-small) {
      @include span-columns(10);
    }

    @include media(min-width $width-medium) {
      @include span-columns(5);
    }
  }

  &__copy {
    color: $white;
    font-weight: lighter;
    margin-bottom: 40px;

    @include media(min-width $width-small) {
      font-size: 1.0em;
    }

    @include media(min-width $width-large) {
      font-size: 1.25em;
    }
  }

  &__title {
    color: $white;
    font-size: 2.5em;
    font-weight: lighter;
    line-height: 1.05em;

    @include media(min-width $width-small) {
      font-size: 2em;
    }
  }
}

.profile-block {
  @include media(min-width $width-small) {
    @include span-columns(10);
    @include shift(1);
  }

  @include media(min-width $width-medium) {
    @include span-columns(5);
  }

  &__img {
    @include media(max-width $width-medium) {
      width: 100%;
    }
  }

}

.reverse-phone {
  @include media(min-width $width-small) {
    @include shift(1);
  }

  @include media(min-width $width-medium) {
    @include shift(0);
  }
}

.row {
  &__highlight {
    overflow-x: hidden;
    background-color: $red-alizarin;
  }

  &__light {
    overflow-x: hidden;
    background-color: $white;
  }

  &__dark {
    overflow-x: hidden;
    background-color: $light-grey;
    border-bottom: 1px solid $medium-grey;
  }
}

.store-block {
  @include display(flex);
  @include align-content(center);
  @include justify-content(center);
  @include flex-wrap(wrap);
  min-height: 180px;
  padding-bottom: 30px;

  &__logo {
    width: 100px;
    margin-top: 40px;
    border-radius: 20px;
  }

  &__content {
    margin: 30px 30px 30px 30px;
  }

  &__title {
    font-size: 2em;
    font-weight: lighter;
    line-height: 1.05em;
    text-align: center;
  }

  &__copy {
    font-size: 1em;
    font-weight: lighter;
    text-align: center;
  }

  &__app_store {
    display: flex;
    align-items: center;
    
    img {
      width: 180px;
    }
  }
}

.hero-terms {
  background: $red-alizarin;
  color: $white;

  padding-top: 20px;
  padding-bottom: 20px;

  &__title {
    font-size: 2em;
    font-weight: lighter;
  }
}

.terms-block {
  &__title {
    font-weight: lighter;
  }
}

.device-block {
  @include display(flex);
  @include align-content(center);
  @include justify-content(center);
  @include flex-wrap(wrap);

  padding-top: 20px;
  padding-bottom: 20px;

  &__content {
    text-align: center;
  }

  &__title {
    font-size: 2em;
  }

  &__copy {
    @include media(min-width $width-small) {
      font-size: 1em;
    }

    @include media(min-width $width-large) {
      font-size: 1.1em;
    }
  }

  &__img {
    margin-top: 20px;
    width: 70%;
  }
}
