*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  color: $black;
  width: 100%;
  @include margin(0px 0px 0px 0px);

}

body.share-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

nav {
  @include padding(20px 40px 20px 40px);
  
  ul {
    float: right;
    list-style: none;
    margin: .5em 0 auto 0;
  }

  li {
    display: inline-block;
    padding: 10px 20px 10px 20px;
  }

  a {
    display: inline-block;

    img {
      float: left;

      @include media(min-width $width-small) {
        height: 48px;
      }
      
      @include media(min-width $width-medium) {
        height: 56px;
      }
    }

    em {
      float: right;
      font-style: normal;
      font-weight: lighter;
      margin: .5em 0 auto 10px;

      @include media(min-width $width-small) {
        font-size: 1.85em;
      }

      @include media(min-width $width-medium) {
        font-size: 2em;
      }
    }
  }
}

section {
  @include outer-container;

  padding-left: 20px;
  padding-right: 20px;
}

h2 {
  font-weight: lighter;
}

p {
  font-weight: lighter;
}

li {
  font-weight: lighter;
}

footer {
  @include display(flex);
  @include justify-content(center);
  background: $blue-wet-asphalt;
  color: $white;

  ul {
    list-style: none;

    li {
      display: inline-block;
      padding: 20px;
    }
  }
  
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $white;
  }
}

a:link,
a:visited,
a:hover,
a:active {
  color: $red-alizarin;
  text-decoration: none;
  -webkit-transition: all 0.25s ease; /* For Safari 3.1 to 6.0 */
  transition: all 0.25s ease;
}
