*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  color: $black;
  width: 100%;
  @include margin(0px 0px 0px 0px);
}

nav {
  @include outer-container;
  @include padding(20px null 20px null);

  ul {
    float: right;
    list-style: none;
    margin: .5em 0 auto 0;
  }

  li {
    display: inline-block;
    padding: 10px 20px 10px 20px;
  }

  a {
    display: inline-block;

    img {
      float: left;
      height: 56px;
    }

    em {
      float: right;
      font-size: 2em;
      font-style: normal;
      font-weight: lighter;
      margin: .5em 0 auto 10px;
    }
  }
}

section {
  @include outer-container;
}

footer {
  background: $blue-wet-asphalt;
  min-height: 180px;
}

a:link,
a:visited,
a:hover,
a:active {
  color: $red-alizarin;
  text-decoration: none;
  -webkit-transition: all 0.25s ease; /* For Safari 3.1 to 6.0 */
  transition: all 0.25s ease;
}
